---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Jesús, a fullstack software developer from España 🇪🇸.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>Angular</li>
        <li>Django</li>
        <li>AWS</li>
        <li>Vercel</li>
        <li>Docker</li>
        <li>SQL</li>
        <li>GIT</li>
        <li>Java</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I am passionate about sports and especially football, 
      I also like travelling and getting to know new cultures. 
      I spend a lot of quality time with my family and friends.
    </p>
  </div>
</Card>
